<h2>Events </h2> 

<% @events.each do |event| %> 
  <table>
		<tr>
			<th>Name</th>
			<td><%=event.name %></td>
		</tr>
    <tr>
      <th>View</th>
      <td><%= link_to 'View Event', [@child, event] %></td>
      <td><%#= image_tag @child, event.image %></td>
      <td><%= event.date.strftime '%B %m %Y' %></td>
    </tr>
  </table>
<% end %>

<%= link_to 'New Event', new_child_event_path(@child), :class => "button" %>

