
<div class="about">
	<h1>About </h1>
		<p>Child Time Capsule is a web app enabling parents to upload documentation of their childrens special moments and milestones in their lives. Child Time Capsule stores child information in an account made by the parent and allows them to upload photos and descriptions. With built in geolocation, the time, date & location about your childrens special moments can be stored in one safe place without the fear of losing them!</p>

		<p>The idea for this project came as parents are constantly on their phones and tablets and I thought, why not have a place where you can store those videos of your son at soccer with the location and description online? After brainstorming, I came to the conclusion that I would incorporate a timeline idea that allows the parent to upload many events to a certain child and store them all in one place. </p>
</div>
