<div class="about">
<h1>Frequently Asked Questions</h1>

<h3>I have multiple children. Can I make a profile for each child?</h3>
	<p>Yes, you can add as many children as you like.</p>

<h3>Can other people see my childrens profiles and their milestones?</h3>
<p>No. This site only allows the user who is logged in to see their own childs milestones</p>

<h3>Can I upload a photo from my computer?</h3>
<p>This feature is still being implemented, however you can upload your photo to an image hosting site and copy and paste the URL. This feature will be completed in the new year.</p>
</div>