<section class="top">
	<div class="top-homepage">
		<div class="text">
			<h1 class="main">Time Capsule</h1>
			<h2 class="main2">Store all of your childs memories in one place!</h2>
		</div>
		<div class="row">
		  <div class="mainpage-button-1 mainpage-button small-6 large-6 columns"><a href="/users/new" class="button">Sign Up</a>
		</div>
		  <div class="mainpage-button-2 mainpage-button small-6 large-6 columns"><a href="/session/new" class="button">Sign In</a>
		</div>
	</div>
</section>



	<div class="path-container">
	  <div class="row">
	  	<h1 class="description">Parents remember the <span>significant events</span> of their </span>children’s lives</span> - birthdays and their first day of school - but it’s easy to forget the small details <span>as the years go by.</span> Time Capsule allows you to store all your child's <span>special memories</span> in one place as they happen!</h1>
	    <div class="large-12 columns ">
	      <h1><%= Child.name %>'s Timeline!</h1>
	    </div>
	  </div>
	  <div class="row path-item">
	    <div class="large-7 push-5 columns">
	      <div class="circle circle-left "><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5yH2MiwaT_e6SOnEapoTNZcuYa0sxN6WhKtl8QIat2Q0QTzYNtA" ></div>
	    </div>
	    <div class="large-5 pull-7 columns path-text left">
	      <h3>First Birthday</h3>
	      <p>Today it was my daughters 1st Birthday. It was a fun day filled with great company and great food. Many photos were taken and everyone had a fun time. I can't believe my girl is already one year old.</p>
	    </div>
	  </div>
	  <div class="row path-item">
	    <div class="large-7 columns">
	      <div class="circle circle-right right">
	      	<img src="http://wallpaperscraft.com/image/girl_child_face_eyes_smile_67621_640x360.jpg"></div>
	    </div>
	    <div class="large-5 columns path-text right">
	      <h3>Playing in the park</h3>
	      <p>Today we I took my son to the park for the first time. He enjoyed playing on the equipment and playing in the sand pit. He met some friends and had a picnic.</p>
	    </div>
	  </div>
	  <div class="row get-feedback path-item">
	    <div class="large-7 push-5 columns">
	      <div class="circle circle-left"><img src="http://cdn.sheknows.com/articles/2012/07/fifth-grade-girl-back-to-school-horiz.jpg"></div>
	    </div>
	    <div class="large-5 pull-7 columns path-text left">
	      <h3>First Day of School</h3>
	      <p>Today was Sally's first day of school. She was very excited. She loves to learn and told me about what she learnt at school. She has made lots of new friends.</p>
	    </div>
	  </div>
	  <div class="row land-job path-item">
	    <div class="large-7 columns">
	      <div class="circle circle-right right"><img src="http://images-2.drive.com.au/2012/07/24/3481384/graduate-620x349.jpg"></div>
	    </div>
	    <div class="large-5 columns path-text right">
	      <h3>Primary School Graduation</h3>
	      <p>Today Sally graduated from primary school. It was a fun day. We went out for dinner after with all of her friends and teachers. She is very excited for high school.</p>
	    </div>
	  </div>
	  <span class="line hide-for-small"></span>
	</div>
</div>