
.slide {
	width: 310px;
	height: 230px;
	float: left;
	border:1px solid red;
	text-align: center;
	position: relative;
	background: url(http://dummyimage.com/310x230) no-repeat top center;
}

.event-image {
	display: inline;
}

.event-image img {
	height: 200px;
	width: auto;
}

.event-index-heading h2{
	/*display: inline-block;*/
	font-family: 'Roboto Slab';
}

.event-box {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
}

.event-box img {
	height: 200px;
}