	.row {
	max-width: 100%;
}

a {
	color: darkorange;
}

.top-bar {
	background-color: black;
}

a:hover {
	color: orange;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: black;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: black;
	color: orange;
}

.path-container {
	padding: 50px;
}


.top:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}

footer {
	height: 150px; 
	background: lightgrey;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.large-6 {
	padding-top: 50px;
	font-family: 'Roboto Slab';
}