	.row {
	max-width: 100%;
}

.path-container {
	padding: 50px;
}


.top:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}

footer {
	height: 150px; 
	background: lightgrey;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/*.1st-col {
	padding-top: 500px;
}

.2nd-col {
	padding-top: 500px;
}*/

.large-6 {
	padding-top: 50px;
	font-family: 'Roboto Slab';
}