.row {
	max-width: 100%;
}

.path-container {
	padding: 50px;
}


.top:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}

footer {
	height: 150px; 
	background: grey;
	bottom: 0;
	width: 100%;
	text-align: center;
}