.circle-left img {
	border-radius: 100%;
}

.circle-right img {
	border-radius: 100%;
}

.circle-left {
	border-radius: 100%;
}

.top {
	background-image: url("http://designlobby.co.uk/assets/img/masthead-park.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
	height: 600px;
	margin: auto;
}

.path-container {
	position: relative;
}

.row {
	text-align: center;
	margin: auto;
/*	padding-top: 50px;	*/
}

.mainpage-button {
	margin: auto;
}

.mainpage-button a {
	margin-top: 20px;
	position: relative;
	width: 225px;
}

.mainpage-button-1 {
	text-align: right;
}

.mainpage-button-2 {
	text-align: left;
}

.main {
	font-family: 'Open Sans';
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.main2 {
	font-family: 'Open Sans';
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.text {
	padding-top: 140px;
}

.button {
	background-color: darkorange;
}

.button:hover {
	background-color: darkorange;
	background-color: white;
	color: black;
	border: 2px solid darkorange;
}

.description {
	font-size: 26px;
	padding-left: 26px;
	padding-right: 26px;
}

.description span {
	color: darkorange;
}